<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Plevra, Side Events of the Convention on Biological Diversity">
  <link rel="shortcut icon" href="/app/images/favicon.ico">

   <link href="app/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="app/libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
      display: none !important;
    }
  </style>
</head>

<body ng-controller="TemplateController" ng-class="{'home-page':homePage}">
  <!-- used by authentication service as work around for cross domain storage of token -->
  <iframe id="authenticationFrame" src="https://accounts.cbd.int/app/authorize.html" style="display:none" onload="(event.target || event.srcElement).ready = true"></iframe>

  <scbd-header></scbd-header>
  <portal-branding></portal-branding>
  <portal-nav></portal-nav>
  
  <div class="page-content">
    <div>
      <div ng-view></div>
      <!-- <div ng-hide="routeLoaded" class="booting"></div> -->
    </div>
  </div>

  <!-- FOOTER -->
  <scbd-footer> </scbd-footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script>
    var require = {
      waitSeconds: 120
    }
  </script>
  <!-- <script src="../node_modules/app/libs/requirejs/require.js" data-main="/app/boot.js"></script> -->
  <script src="app/libs/requirejs/require.js" data-main="app/boot.js"></script>

  <div id="outdated"></div>
  <script>
      /**************************
        For outdate browser check
      **************************/
      // function addLoadEvent(func) {
      // var oldonload = window.onload; if (typeof window.onload != 'function') { window.onload = func; } else { window.onload = function() { if (oldonload) { oldonload(); } func(); } } }
      // addLoadEvent(function() { outdatedBrowser( { bgColor: '#f25648', color: '#ffffff', lowerThan: 'boxShadow', languagePath: '/app/libs/outdated-browser/outdatedbrowser/lang/en.html' }) });

       /**************************
        For Googel Analytics
      **************************/
      (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-1996573-11', 'auto');
      ga('send', 'pageview');
  </script>

</body>

</html>