
<nav class="bg-lite-chrome hidden-xs hidden-sm">
<!-- https://coolors.co/app/aaa9a9-965e8d-611975-2c0e37-000000 -->
     <!-- ng-class="{'training-bg': !production_env}"> -->
    <div class="container-fluid container-portal" style="padding:0 20px;">
        <div class="row">
            <div class="col-xs-9">
                <a href="/" class="color-cbdgreen">
                          <span style="position:relative;top:15px;font-size:30px;" >
                          <span class="color-white" > <img src="/app/images/cbd-leaf-white.svg" style="height:52px;position:relative;top:-5px;padding:0 5px 0 0;margin:0;"/>  Seed Portal</span>
                          <!-- <span class="color-orange" ng-if="training_env"> <img src="/app/img/cbd-spine.png" style="height:42px;position:relative;top:-5px;padding:0 5px 0 0;margin:0;"/>  ABSCH <span class="color-black">TRAINING</span></span>
                          <span class="color-orange" ng-if="development_env"> <img src="/app/img/cbd-spine.png" style="height:42px;position:relative;top:-5px;padding:0 5px 0 0;margin:0;"/>  ABSCH <span class="color-black">DEVELOPMENT</span></span> -->
                    </span>
                </a>
            </div>
            <div class="col-xs-3 hidden-xs hidden-sm" >
                <img src="/app/images/cbd-logo-white-en.svg" class="pull-right" style="padding: 0; margin:5px 0 5px 0;height:60px;" />
            </div>
        </div>
    </div>
</nav>
